#header-container {
    z-index: 1000;
}

@media (max-width: 320px) {
    header img {
        height: 2.125rem; /* Height for header logo */
    }

    #mobile-menu img {
        height: 1.75rem; /* Reduced height for mobile menu logo */
    }
}

@media (max-width: 375px) {
    header img {
        height: 2.25rem; /* Height for header logo */
    }

    #mobile-menu img {
        height: 2rem; /* Reduced height for mobile menu logo */
    }
}

@media (max-width: 425px) {
    header img {
        height: 2.375rem; /* Height for header logo */
    }

    #mobile-menu img {
        height: 2.25rem; /* Reduced height for mobile menu logo */
    }
}
